<form>
  <div class="form-group">
    <label for="identification">Username</label>
    {{input value=email placeholder='Enter Email' class='form-control'}}
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    {{input value=password placeholder='Enter Password' class='form-control' type='password'}}
  </div>
  <button {{action "usePassword" }} class="btn btn-default">Login</button>
  <button {{action "useFacebook" }} class="btn btn-default">With Facebook</button>
</form>
{{#if error}}
  <div class="alert alert-danger">
    <p>
      <strong>Login failed:</strong> <code>{{error}}</code>
    </p>
    <p>
      Documentation of the error codes can be found in the <a href="http://tools.ietf.org/html/rfc6749#section-5.2" title="RFC 6749 - Error Response">Error Response section of RFC 6749</a>.
    </p>
  </div>
{{/if}}
